USE [master]
GO
/****** Object:  Database [LocalMessangerDB]    Script Date: 20.01.2026 9:13:02 ******/
CREATE DATABASE [LocalMessangerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalMessangerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HELLOSQL\MSSQL\DATA\LocalMessangerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LocalMessangerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HELLOSQL\MSSQL\DATA\LocalMessangerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LocalMessangerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LocalMessangerDB]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ChatTypeId] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatTypes]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ChatTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [varchar](4096) NOT NULL,
	[DateAndTime] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IdMessagesReferred] [int] NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageUserInChat]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageUserInChat](
	[IdMessage] [int] NOT NULL,
	[IdChat] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
 CONSTRAINT [PK_MessageUserInChat] PRIMARY KEY CLUSTERED 
(
	[IdMessage] ASC,
	[IdChat] ASC,
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInChat]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInChat](
	[UserId] [int] NOT NULL,
	[ChatId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[DateOfEntry] [datetime2](7) NOT NULL,
	[DateRelease] [datetime2](7) NULL,
 CONSTRAINT [PK_UserInChat] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ChatId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](40) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.01.2026 9:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](15) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[SecondSurname] [varchar](20) NOT NULL,
	[Surname] [varchar](20) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[DateOfLastActivity] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
	[UrlAvatar] [varchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_ChatTypes] FOREIGN KEY([ChatTypeId])
REFERENCES [dbo].[ChatTypes] ([Id])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_ChatTypes]
GO
ALTER TABLE [dbo].[MessageUserInChat]  WITH CHECK ADD  CONSTRAINT [FK_MessageUserInChat_Chats] FOREIGN KEY([IdChat])
REFERENCES [dbo].[Chats] ([id])
GO
ALTER TABLE [dbo].[MessageUserInChat] CHECK CONSTRAINT [FK_MessageUserInChat_Chats]
GO
ALTER TABLE [dbo].[MessageUserInChat]  WITH CHECK ADD  CONSTRAINT [FK_MessageUserInChat_Messages] FOREIGN KEY([IdMessage])
REFERENCES [dbo].[Messages] ([Id])
GO
ALTER TABLE [dbo].[MessageUserInChat] CHECK CONSTRAINT [FK_MessageUserInChat_Messages]
GO
ALTER TABLE [dbo].[MessageUserInChat]  WITH CHECK ADD  CONSTRAINT [FK_MessageUserInChat_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[MessageUserInChat] CHECK CONSTRAINT [FK_MessageUserInChat_Users]
GO
ALTER TABLE [dbo].[UserInChat]  WITH CHECK ADD  CONSTRAINT [FK_UserInChat_Chats] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([id])
GO
ALTER TABLE [dbo].[UserInChat] CHECK CONSTRAINT [FK_UserInChat_Chats]
GO
ALTER TABLE [dbo].[UserInChat]  WITH CHECK ADD  CONSTRAINT [FK_UserInChat_UserRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([Id])
GO
ALTER TABLE [dbo].[UserInChat] CHECK CONSTRAINT [FK_UserInChat_UserRoles]
GO
ALTER TABLE [dbo].[UserInChat]  WITH CHECK ADD  CONSTRAINT [FK_UserInChat_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserInChat] CHECK CONSTRAINT [FK_UserInChat_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Statuses]
GO
USE [master]
GO
